@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Force form text to be dark - highest priority */
  input, textarea, select {
    color: #111827 !important;
  }

  input:not([type="checkbox"]):not([type="radio"]),
  textarea,
  select {
    background-color: white !important;
  }
}
html {
    font-size: 20px;
    scroll-behavior: smooth;
}
:root {
    scroll-padding-top: 100px;
  }
  body {
    background-color: #111827;
    color: white;
}

/* Fix form inputs to have readable text on admin pages */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea,
select {
    color: #111827 !important;
    background-color: white !important;
    -webkit-text-fill-color: #111827 !important;
}

/* Force color on focus and active states */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
    color: #111827 !important;
    -webkit-text-fill-color: #111827 !important;
}

/* Ensure placeholder text is visible */
input::placeholder,
textarea::placeholder {
    color: #9ca3af !important;
    -webkit-text-fill-color: #9ca3af !important;
    opacity: 1 !important;
}

/* Override option elements in select dropdowns */
select option {
    color: #111827 !important;
    background-color: white !important;
}

/* Nuclear option - force all form controls */
input, textarea, select {
    color: #111827 !important;
}

input:not([type="checkbox"]):not([type="radio"]) {
    background-color: white !important;
}

/* Handle browser autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
    -webkit-text-fill-color: #111827 !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    transition: background-color 5000s ease-in-out 0s;
}
